<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Task</title>
    <!-- FontAwesomeのCDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- リセットCSSのCDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- 課題5 -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" ntegrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <!-- ---- -->
</head>
<body>
    <header class="header">
        <h1 class="app-title"><a href="/">My Task</a></h1>
        <!-- 課題6 -->
        {% if login_status %}
        <div class="member-menu">
            <a href="/add" class="menu-link">タスクを追加する</a>
            <a href="/logout" class="menu-link">ログアウト</a>
        </div>
        <!-- 課題6 -->
        {% endif %}
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>